# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
*.csv

# Environments
.env
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
